<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hello world</title>
    <link rel="stylesheet" href="./1-css.css">
</head>

<body>
    
    
    <div class="" id="todo-list-example">
        <form @submit.prevent = "addNewTodo">
            <label for="new-todo">添加一个选项</label>
            <input v-model="newText" id="new-todo" placeholder="添加事件内容">
            <button type="submit">Add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo,index) in todos" :key="todo.id" :title="todo.title" @remove="todos.splice(index,1)"></li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./1-main.js"></script>
</body>

</html>